.header{
    margin-top: 30px;
    margin-left: 100px;
}

.frame1{
    margin-top: 150px;
    margin-left: 250px;
}

.button{
    margin-left: 500px;
    margin-top: 30px;
}
.footer{
    margin-top: 150px;
}